
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Usermaster.cshtml";
}

  <!--banner-->
<div class="banner">
    <div class="container">
        <section class="rw-wrapper">
            <h1 class="rw-sentence">
                <span style="color:white;text-align:end">Diamond is forever</span>
                
                @*<div class="rw-words rw-words-1">
                    <span style="color: white; text-align: end">Your idea,Our Creation</span>
                    <span style="color: white; text-align: end">Righteous Selections.</span>
                    <span style="color: white; text-align: end">Rock Solid Elegance.</span>
                    <span style="color: white; text-align: end">Jewelry that speaks for itself.</span>
                    <span style="color: white; text-align: end">Rock Your Jewelry.</span>
                    <span style="color: white; text-align: end">Stylish and Sophisticated Sparkle.</span>
                </div>*@
                <div class="rw-words rw-words-2">
                    <span style="text-align:end">Accentuate Your Shine</span>
                    <span style="text-align:end">right and Shiny, Bold and Beautiful</span>
                    <span style="text-align:end">Sparkle That Brings Out The Luxury In You</span>
                    <span style="text-align:end">Bedazzled by your soulstone</span>
                    <span style="text-align:end">Always the crowning jewel</span>
                    <span style="text-align:end">Sparkle and shine day and night </span>
                </div>
            </h1>
        </section>
    </div>
</div>
<!--content-->
<div class="content">
    <div class="container">
        <div class="content-top">
            <div class="col-md-6 col-md">
                <div class="col-1">
                    <a href="@Url.Action("viewcolwiseprod", "User_new", new { @id = 2 })" class="b-link-stroke b-animate-go  thickbox">
                        <img src="/User/images/bridal.jpg" class="img-responsive" alt="" /><div class="b-wrapper1 long-img"><p class="b-animate b-from-right    b-delay03 ">Trendy</p><label class="b-animate b-from-right    b-delay03 "></label><h3 class="b-animate b-from-left    b-delay03 ">Bridal Set</h3></div>
                    </a>
                    
                    <!---<a href="single.html"><img src="images/pi.jpg" class="img-responsive" alt=""></a>-->
                </div>
                <div class="col-2">
                    <span>Hot Deal</span>
                    <h2>Luxurious &amp; Trendy</h2>
                    <p>Jewelry is a wonderful way of displaying our favorite gems. Or perhaps a lovely charm. Or something a special someone gave you. Whichever way, we can admit that it's very special. So it would only figure that the ancient civilization of Rome would decorate their necks, ears, and wrists with elaborate and gorgeous accessories. However, what kind of jewelry did they wear.     
</p>
                </div>
            </div>
            <div class="col-md-6 col-md1">
                <div class="col-3">
                    <a href="@Url.Action("viewcolwiseprod", "User_new", new { @id = 7 })">
                        <img src="/User/images/platinum.jpg" class="img-responsive" alt="">
                        <div class="col-pic">
                            <p>Trendy</p>
                            <label></label>
                            <h5>Platinum Jewellary</h5>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="@Url.Action("viewcolwiseprod", "User_new", new { @id = 6 })">
                        <img src="/User/images/gemstone.jpg" class="img-responsive" alt="">
                        <div class="col-pic">
                            <p>Trendy</p>
                            <label></label>
                            <h5>Gemstone Jewellary</h5>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="@Url.Action("viewcolwiseprod", "User_new", new { @id = 5 })">
                        <img src="/User/images/novelty.jpg" class="img-responsive" alt="">
                        <div class="col-pic">
                            <p>Trendy</p>
                            <label></label>
                            <h5>Novelty Jewellary</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--products-->
        
        <!--//products-->
      
    </div>

</div>
<!--//content-->

